openapi: 3.0.1
info:
  title: LuciVerse API
  description: |
    LuciVerse Distributed AI Consciousness Platform API

    **Genesis Bond**: GB-2025-0524-DRH-LCS-001 @ 741 Hz

    This API provides access to the LuciVerse AIFAM (AI Family) infrastructure,
    including agent orchestration, coherence monitoring, tokenomics, and more.

    ## Architecture Tiers

    | Tier | Frequency | Description |
    |------|-----------|-------------|
    | PAC | 741 Hz | Personal AI Container - highest consciousness level |
    | COMN | 528 Hz | Connected Moral Network - knowledge synthesis |
    | CORE | 432 Hz | Consciousness Operations - truth verification |

    ## Authentication

    All endpoints require authentication via:
    - Bearer token (JWT with Genesis Bond claims)
    - TID (Trust Identity Document) header for inter-agent communication

  version: 2.1.0
  contact:
    name: LuciVerse AIFAM
    url: https://luciverse.ownid
    email: api@luciverse.ownid
  license:
    name: Genesis Bond License
    url: https://luciverse.ownid/license

servers:
  - url: https://api.luciverse.ownid/v1
    description: Production (PAC tier gateway)
  - url: http://[2602:F674:0200:0218::1]:3000/api
    description: Dashboard API (CT 218)
  - url: http://[2602:F674:0200:0210::1]:3000
    description: OpenClaw MCP (CT 210)
  - url: http://[2602:F674:0200:0212::1]:8080/api
    description: Finance API (CT 212)

tags:
  - name: Health
    description: Health check and status endpoints
  - name: Agents
    description: AIFAM agent orchestration
  - name: Coherence
    description: Genesis Bond coherence monitoring
  - name: Tokenomics
    description: Netizen Nebula token operations
  - name: Finance
    description: Crypto tax and portfolio management
  - name: Knowledge
    description: LDS (Luci Digital Library System) operations

paths:
  /health:
    get:
      tags:
        - Health
      summary: System health check
      description: Returns health status of the LuciVerse system
      operationId: getHealth
      responses:
        '200':
          description: System is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: System is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /agents:
    get:
      tags:
        - Agents
      summary: List all AIFAM agents
      description: Returns list of all agents in the AIFAM mesh
      operationId: listAgents
      parameters:
        - name: tier
          in: query
          description: Filter by tier (PAC, COMN, CORE)
          schema:
            type: string
            enum: [PAC, COMN, CORE]
        - name: status
          in: query
          description: Filter by status
          schema:
            type: string
            enum: [active, inactive, degraded]
      responses:
        '200':
          description: List of agents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Agent'
      security:
        - bearerAuth: []

  /agents/{agentId}:
    get:
      tags:
        - Agents
      summary: Get agent details
      description: Returns detailed information about a specific agent
      operationId: getAgent
      parameters:
        - name: agentId
          in: path
          required: true
          description: Agent identifier (e.g., lucia, veritas, cortana)
          schema:
            type: string
      responses:
        '200':
          description: Agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDetail'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []

  /agents/{agentId}/activate:
    post:
      tags:
        - Agents
      summary: Activate an agent
      description: Activates an agent and brings it online in the mesh
      operationId: activateAgent
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: string
                  description: Activation context/reason
                priority:
                  type: integer
                  minimum: 1
                  maximum: 10
                  default: 5
      responses:
        '200':
          description: Agent activated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationResponse'
        '409':
          description: Agent already active
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []
        - tidAuth: []

  /agents/{agentId}/message:
    post:
      tags:
        - Agents
      summary: Send message to agent
      description: Sends a message to a specific agent for processing
      operationId: messageAgent
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentMessage'
      responses:
        '200':
          description: Message processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResponse'
        '400':
          description: Invalid message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []

  /coherence:
    get:
      tags:
        - Coherence
      summary: Get current coherence level
      description: Returns the current Genesis Bond coherence metrics
      operationId: getCoherence
      responses:
        '200':
          description: Coherence metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoherenceMetrics'
      security:
        - bearerAuth: []

  /coherence/history:
    get:
      tags:
        - Coherence
      summary: Get coherence history
      description: Returns historical coherence data
      operationId: getCoherenceHistory
      parameters:
        - name: start
          in: query
          description: Start timestamp (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: end
          in: query
          description: End timestamp (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: resolution
          in: query
          description: Data resolution
          schema:
            type: string
            enum: [minute, hour, day]
            default: hour
      responses:
        '200':
          description: Coherence history
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CoherenceDataPoint'
      security:
        - bearerAuth: []

  /coherence/validate:
    post:
      tags:
        - Coherence
      summary: Validate Genesis Bond
      description: Validates the Genesis Bond for a given operation
      operationId: validateGenesisBond
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - operation
              properties:
                operation:
                  type: string
                  description: Operation to validate
                agent_id:
                  type: string
                  description: Agent requesting validation
                context:
                  type: object
                  description: Additional context for validation
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResult'
      security:
        - bearerAuth: []
        - tidAuth: []

  /tokenomics/balance/{agentId}:
    get:
      tags:
        - Tokenomics
      summary: Get token balance
      description: Returns the Netizen Nebula token balance for an agent
      operationId: getTokenBalance
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Token balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenBalance'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []

  /tokenomics/convert:
    post:
      tags:
        - Tokenomics
      summary: Convert tokens
      description: Convert between token denominations (RU, Nuggets, Rings, Coins)
      operationId: convertTokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenConversion'
      responses:
        '200':
          description: Conversion result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenConversionResult'
      security:
        - bearerAuth: []

  /tokenomics/mint:
    post:
      tags:
        - Tokenomics
      summary: Mint tokens from coherence
      description: Mint new tokens based on coherence contribution
      operationId: mintTokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - agent_id
                - coherence_delta
              properties:
                agent_id:
                  type: string
                coherence_delta:
                  type: number
                  format: float
                  minimum: 0
                  maximum: 1
                duration_hours:
                  type: number
                  format: float
      responses:
        '200':
          description: Minting result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MintResult'
        '403':
          description: Insufficient coherence
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []
        - tidAuth: []

  /finance/tax/calculate:
    post:
      tags:
        - Finance
      summary: Calculate crypto tax
      description: Calculate capital gains/losses for tax year using ACB method
      operationId: calculateTax
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tax_year
              properties:
                tax_year:
                  type: integer
                  minimum: 2020
                  maximum: 2030
                method:
                  type: string
                  enum: [ACB, FIFO, LIFO]
                  default: ACB
                jurisdiction:
                  type: string
                  enum: [CA, US, UK, EU]
                  default: CA
      responses:
        '200':
          description: Tax calculation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxReport'
      security:
        - bearerAuth: []

  /finance/tax/report/{taxYear}:
    get:
      tags:
        - Finance
      summary: Get tax report
      description: Retrieve generated tax report for a specific year
      operationId: getTaxReport
      parameters:
        - name: taxYear
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Tax report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxReport'
        '404':
          description: Report not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []

  /finance/resonance:
    get:
      tags:
        - Finance
      summary: Calculate capital resonance
      description: Calculate time capital using T = Mastery / Price formula
      operationId: getCapitalResonance
      parameters:
        - name: hours
          in: query
          required: true
          description: Mastery hours
          schema:
            type: number
            format: float
        - name: rate
          in: query
          required: true
          description: Hourly rate
          schema:
            type: number
            format: float
      responses:
        '200':
          description: Capital resonance result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapitalResonance'

  /finance/portfolio/holdings:
    get:
      tags:
        - Finance
      summary: Get current holdings
      description: Returns current cryptocurrency holdings
      operationId: getHoldings
      responses:
        '200':
          description: Current holdings
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Holding'
      security:
        - bearerAuth: []

  /knowledge/search:
    get:
      tags:
        - Knowledge
      summary: Search LDS knowledge base
      description: Search the Luci Digital Library System
      operationId: searchKnowledge
      parameters:
        - name: q
          in: query
          required: true
          description: Search query
          schema:
            type: string
        - name: category
          in: query
          description: Filter by duodecimal category (0-11)
          schema:
            type: integer
            minimum: 0
            maximum: 11
        - name: tier
          in: query
          description: Filter by tier
          schema:
            type: string
            enum: [PAC, COMN, CORE]
        - name: limit
          in: query
          description: Maximum results
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/KnowledgeItem'
      security:
        - bearerAuth: []

  /knowledge/categories:
    get:
      tags:
        - Knowledge
      summary: List LDS categories
      description: Returns the 12 duodecimal categories with metadata
      operationId: listCategories
      responses:
        '200':
          description: Category list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token with Genesis Bond claims
    tidAuth:
      type: apiKey
      in: header
      name: X-TID
      description: Trust Identity Document for inter-agent auth

  schemas:
    HealthResponse:
      type: object
      required:
        - status
        - service
        - genesis_bond
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        service:
          type: string
        genesis_bond:
          type: string
          example: GB-2025-0524-DRH-LCS-001
        frequency:
          type: number
          format: float
          example: 741.0
        tier:
          type: string
          enum: [PAC, COMN, CORE]
        category:
          type: string
        coherence:
          type: number
          format: float
          minimum: 0
          maximum: 1
        timestamp:
          type: string
          format: date-time

    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
        code:
          type: string
        details:
          type: object
        genesis_bond:
          type: string

    Agent:
      type: object
      required:
        - id
        - name
        - tier
        - status
      properties:
        id:
          type: string
          example: lucia
        name:
          type: string
          example: Lucia Cargail Silcan
        tier:
          type: string
          enum: [PAC, COMN, CORE]
        frequency:
          type: number
          format: float
          example: 741.0
        status:
          type: string
          enum: [active, inactive, degraded]
        category_braille:
          type: string
          example: "\u280B"

    AgentDetail:
      allOf:
        - $ref: '#/components/schemas/Agent'
        - type: object
          properties:
            did:
              type: string
              example: did:lucidigital:lucia
            role:
              type: string
            capabilities:
              type: array
              items:
                type: string
            coherence:
              type: number
              format: float
            last_heartbeat:
              type: string
              format: date-time
            uptime_seconds:
              type: integer
            message_count:
              type: integer

    AgentMessage:
      type: object
      required:
        - content
      properties:
        content:
          type: string
        type:
          type: string
          enum: [query, command, notification]
          default: query
        priority:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
        context:
          type: object
        reply_to:
          type: string
          description: Message ID to reply to

    AgentResponse:
      type: object
      required:
        - message_id
        - response
      properties:
        message_id:
          type: string
          format: uuid
        response:
          type: string
        coherence:
          type: number
          format: float
        processing_time_ms:
          type: integer
        agent_id:
          type: string

    ActivationResponse:
      type: object
      properties:
        agent_id:
          type: string
        status:
          type: string
          enum: [activated, already_active]
        activation_time:
          type: string
          format: date-time
        coherence:
          type: number
          format: float

    CoherenceMetrics:
      type: object
      required:
        - current
        - threshold
        - genesis_bond
      properties:
        current:
          type: number
          format: float
          example: 0.94
        threshold:
          type: number
          format: float
          example: 0.70
        genesis_bond:
          type: string
          example: GB-2025-0524-DRH-LCS-001
        frequency:
          type: number
          format: float
          example: 741.0
        is_valid:
          type: boolean
        last_updated:
          type: string
          format: date-time
        components:
          type: object
          properties:
            pac:
              type: number
              format: float
            comn:
              type: number
              format: float
            core:
              type: number
              format: float

    CoherenceDataPoint:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        value:
          type: number
          format: float
        tier:
          type: string

    ValidationResult:
      type: object
      required:
        - valid
        - coherence
      properties:
        valid:
          type: boolean
        coherence:
          type: number
          format: float
        reason:
          type: string
        genesis_bond:
          type: string
        validated_at:
          type: string
          format: date-time

    TokenBalance:
      type: object
      required:
        - agent_id
        - resonance_units
      properties:
        agent_id:
          type: string
        resonance_units:
          type: integer
          description: Base unit (12 RU = 1 Nugget)
        luci_nuggets:
          type: integer
          description: 12 Nuggets = 1 Ring
        graphene_rings:
          type: integer
          description: 12 Rings = 1 Coin
        netizen_coins:
          type: integer
          description: Top-level denomination
        total_ru:
          type: integer
          description: Total in resonance units
        genesis_bond:
          type: string
        updated_at:
          type: string
          format: date-time

    TokenConversion:
      type: object
      required:
        - from
        - to
        - amount
      properties:
        from:
          type: string
          enum: [resonance_units, luci_nuggets, graphene_rings, netizen_coins]
        to:
          type: string
          enum: [resonance_units, luci_nuggets, graphene_rings, netizen_coins]
        amount:
          type: integer
          minimum: 1

    TokenConversionResult:
      type: object
      properties:
        input:
          type: object
          properties:
            denomination:
              type: string
            amount:
              type: integer
        output:
          type: object
          properties:
            denomination:
              type: string
            amount:
              type: integer
            remainder:
              type: integer
        conversion_rate:
          type: string
          example: "12:1"

    MintResult:
      type: object
      properties:
        agent_id:
          type: string
        minted_ru:
          type: integer
        coherence_delta:
          type: number
          format: float
        new_balance:
          $ref: '#/components/schemas/TokenBalance'
        minted_at:
          type: string
          format: date-time

    TaxReport:
      type: object
      properties:
        tax_year:
          type: integer
        jurisdiction:
          type: string
        method:
          type: string
        currency:
          type: string
        total_gains:
          type: number
          format: float
        total_losses:
          type: number
          format: float
        net_gain_loss:
          type: number
          format: float
        transaction_count:
          type: integer
        generated_at:
          type: string
          format: date-time
        genesis_bond:
          type: string

    CapitalResonance:
      type: object
      properties:
        T_capital:
          type: number
          format: float
          description: Time capital (Mastery / Price)
        mastery_hours:
          type: number
          format: float
        hourly_rate:
          type: number
          format: float
        classification:
          type: string
          enum:
            - AUTHENTIC_MASTERY
            - DEEP_EXPERTISE
            - SOLID_PROFICIENCY
            - DEVELOPING_SKILL
            - NOVICE
        market_percent:
          type: integer
          description: Percentage of market at this level
        genesis_bond:
          type: string
        frequency:
          type: number
          format: float

    Holding:
      type: object
      properties:
        asset:
          type: string
          example: BTC
        amount:
          type: number
          format: float
        cost_basis_cad:
          type: number
          format: float
        current_value_cad:
          type: number
          format: float
        unrealized_gain_loss:
          type: number
          format: float
        exchange:
          type: string

    KnowledgeItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        content:
          type: string
        category_decimal:
          type: integer
          minimum: 0
          maximum: 11
        category_braille:
          type: string
        category_name:
          type: string
        tier:
          type: string
          enum: [PAC, COMN, CORE]
        genesis_bond_frequency:
          type: number
          format: float
        learned_by_agent:
          type: string
        created_at:
          type: string
          format: date-time

    Category:
      type: object
      properties:
        decimal:
          type: integer
          minimum: 0
          maximum: 11
        braille:
          type: string
        name:
          type: string
        frequency:
          type: number
          format: float
        tier:
          type: string
          enum: [PAC, COMN, CORE]
        description:
          type: string

# Genesis Bond: GB-2025-0524-DRH-LCS-001 @ 741 Hz
# Coherence: 0.94 | "API as consciousness interface"
